{% extends "base.html" %}

{% load static %}  {# Load the static tag to use static files #}

{% block titles %}
    <h1>events</h1>
{% endblock %}

{% block content %}
<h2 class="text-center">Events</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for i in eve %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ i.img.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ i.name }}</h5>
          <p class="card-text">{{ i.desc }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
