{% extends 'base.html' %}

{% block title %}News & Updates | Charity Foundation{% endblock %}

{% block content %}
<h1 class="mb-4">News & Updates</h1>
<div class="row">
    <!-- This is where you would loop through your news items from the database -->
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Community Center Opening</h5>
                <h6 class="card-subtitle mb-2 text-muted">February 28, 2025</h6>
                <p class="card-text">We're excited to announce the opening of our new community center that will serve as a hub for our charitable activities.</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    <!-- Add more news cards here -->
</div>
{% endblock %}